
body{
    line-height: 2;
    font-family: 'Noto Sans JP', sans-serif;
}

.wrapper{
    background-color: #fff;
}

img{
    max-width: 100%;
}

.img_button img{
    display: block;
}

.img_button:hover{
    opacity: 0.10;
}

.content{
    display: none;
    padding: 30px;
}

.close_button{
    display: inline-block;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: rgb(255, 136, 0);
    color: #fff;
    cursor: pointer;
}

.img_button{
    transition: 0.8s all;
    cusor: pointer
}

.text_img{
    display: flex;
}

.img{
    width: 20%;
}

.text{
    width: 80%;
    padding: 10px;
}

#content02 .close_button{
    background-color: rgb(0, 153, 255);
}
  
#content03 .close_button{
    background-color: rgb(255, 0, 0);
}